html {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.top {
    background-color: #1f2937;
    color: rgb(255, 255, 255);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
    padding-bottom: 60px;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    display: flex;
    align-items: center;
    padding: 15px;
    font-weight: 700;
    font-size: 30px;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 15px 25px;
    font-size: 18px;
}

.hero {
    display:flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 75px;
}

.text1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 500px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.text1 p {
    font-size: 15px;
    margin-top: -10px;
}

button {
    background-color: #3882f6;;
    border-style: none;
    color: #ffffff;
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
}

.pic1 img {
    display: flex;
    height: 300px;
    width: 500px;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.information h2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    gap: 50px;
    padding: 100px;
}

.information img {
    display: flex;
    height: 200px;
    width: 230px;
    border-style: solid;
    border-radius: 10%;
    border-color: #3882f6;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
}

.text {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 36px;
}

.author {
    display: flex;
    font-size: 24px;
    font-weight: 900;
}

.signup {
    background-color: #3882f6;
    margin: 50px 200px;
    padding: 15px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.singup button {
    border-style: solid;
    border-color: #e5e7eb;
}

.boxtext {
    color: #ffffff;
    text-align: left;
}

h3 {
    padding: 0;
    margin-bottom: -10px;
}

.signup button {
    border-style: solid;
    border-color: #ffffff;
}

.footer {
    background-color: #1f2937;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
}